{% extends "base.html" %}
{% block section %}

<table class="center">
    <thead>
        <th>{{ user.get_full_name }}</th>
    </thead>
    <tbody>
        <tr>
            <td>Username:</td>
            <td>{{ user.username }} </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{ user.last_name }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}