{% extends "base.html" %}
{% load static %}
{% block section %}
<h1>this is create test page</h1>

    <select id='subject' name='subject'>
        {%for i in sub %}
            <option value="{{ i }}" >{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="id_test">Test Name:</label>
    <input type="text" id="id_test" name="test" />
    <label for="id_search">Search</label>
    <input type="text" id="id_search" onkeyup="myFunction()" name="search" />


<div class="choose">
    <div class="select_qn">
        <h1>SELECT Questions</h1>
        <p id="select"></p>
    </div>
    <button name="add" id="add_checked" class="btn btn-outline-primary rounded-pill pl-4 pr-4 mr-3">Add</button>
    <div class="selected_qn">
        <h1>SELECTED Questions</h1>
        <p id="selected"></p>
    </div>
</div>

{% endblock %}

{% block jscript %}
<script src="{% static 'js/search.js' %}" type="text/javascript"></script>
{% endblock %}