{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel='stylesheet' type="text/css" href="{% static 'css/table.css' %}">
{% endblock css%}
{% block content %}
<p id="timer"></p>
<select id='subject' name='subject'>
        {%for i in sub %}
            <option value="{{ i }}" >{{ i }}</option>
        {% endfor %}
    </select>
<button id='start' class="next_ques">Start Test</button>
<h2 id="score"></h2>
<div id="test"></div>
<p id="ans"></p>
<button id="next" class="next_ques" onclick="setInterval(myTimer, 1000)">Next</button>
<button id="ans_button" class="">Ans</button>
{% endblock %}


{% block jscript %}
<script src="{% static 'js/test.js' %}" type="text/javascript"></script>
{% endblock %}